.keyboard-num {
    width: 75%;
    position: relative;
    bottom: 230px;
}

.keyboard-num button {
    background-color: rgb(50, 50, 50);
}

.keyboard-num button:hover {
    background-color: rgb(140, 140, 140);
    color: black;
}